<script id="appTemplate" type="text/x-custom-template">
<div  id="appContainer" class="movida">
	<!-- Si se prefiere con un color se puede usar en vez de style poner un class de boowtrqp class="bg-warning" -->
	 <!-- The header container -->
	  <div id="appMenuContainer">
	  </div>

	  <!-- The App Main View Container -->
	  <!--Padding is neccesary for overflow menu fixed top and bottom-->
	  <!-- <div id="appMainViewContainer" style="padding-top: 45px;padding-bottom: 60px;"> -->
	  <div id="appMainViewContainer" style="padding-top: 25px;padding-bottom: 60px;">
	  </div>
	  
	  <!-- The MenuFooter Container -->
	  <div id="appMenuFooterContainer">
	  </div>
</div>
</script>