<script id="modalDialogTemplate" type="text/x-custom-template">
  <!-- The Modal -->
  <div class="modal" id="${id}">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">${title}</h4>
          <button type="button" class="close" data-dismiss="modal" id="${id}_childsWrapper_topCloseButton" >&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body"  id="${id}_childsWrapper">
          ${message}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="${id}_footerWrapper_topCloseButton">Close</button>
        </div>

      </div>
    </div>
  </div>
</script>