.window {
    height: 8em;
    overflow: auto;
    margin: 1em;
    padding: 1em;
    border: 10px solid #DFEAF2;
  }

div[id="appMainContainer"] {
  background: linear-gradient(to bottom, rgba(3,75, 82, 1) 0%, rgba(3,75, 82, 0) 100%);
}

.movida {
  /*  background: linear-gradient(to bottom, rgba(3,75, 82, 1) 0%, rgba(3,75, 82, 0) 100%); */
  background-image: url(../images/background-images/abstract-free-background-hd.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: emberlyBlackItalic;
  src: url(../fonts/emberly/TTF/Emberly-ExtraLight.ttf);
}

.lettering {
  font-family: emberlyBlackItalic;
}