<script id="navbarBottomWrapperTemplate" type="text/x-custom-template">
    <div id="${id}" class="navbar fixed-bottom navbar-dark bg-dark">
        <div id="${id}_childsWrapper"  class="container-fluid justify-content-center" >
           
                <!-- Menu items will be render here -->
           
                <!-- 
                    <button class="btn btn-default">
                        <img src="https://img.icons8.com/dotty/80/000000/add.png" class="img-fluid rounded" width="32" 
                        height="32"/>
                    </button>
                    
                    Areqeuals <p id="page_info">0</p>
                    PAge <p id="page_number">0</p>
                 -->
                 
        </div>
    </div>
</script>